/* Global Styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ECF0F1;
    color: #2C3E50;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C3E50;
    padding: 15px 20px;
    color: white;
}
.logo {
    display: flex;
    align-items: center;
}
.logo h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 10px;
}
.logo img {
    width: 50px;
    height: 50px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    color: rgb(4, 244, 4);
}
nav a.active {
    color: rgb(4, 244, 4);
    font-weight: bold;
    border-bottom: 2px solid rgb(4, 244, 4);
  }
/* User Details Form */
#contact-form {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#contact-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#contact-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    padding-right: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: darkgreen;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#contact-form button:hover {
    background-color: #c0392b;
}
#contact h2 {
    text-align: center;
}
h1, h2, h3 {
    color: darkgreen;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #2C3E50;
    color: white;
}
footer a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.footlinks {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .properties {
        grid-template-columns: 1fr;
    }

    #hero h1 {
        font-size: 28px;
    }
    #contact h1 {
        text-align: center;
        font-size: 2rem;
    }
}
